@using RPPP_WebApp.Controllers;
@model RPPP_WebApp.ViewModels.ProjectPartnerViewModel

<tr hx-target="this" hx-swap="outerHTML">

    <td class="text-left"> @Model.Project</td>
    <td>
        <select class="form-control" asp-for="Role" asp-items="ViewBag.ProjectRoles">
        </select>
    </td>
    <td>
        <input asp-for="DateFrom" class="form-control" placeholder="DateFrom" />
    </td>
    <td>
        <input asp-for="DateTo" class="form-control" placeholder="DateTo" />
    </td>

    <td>
        <button hx-include="closest tr"
                hx-post="@Url.Action(nameof(WorkerController.EditProjectPartner))"
                class="btn btn-sm btn-primary" title="Spremi">
            <i class="fas fa-save"></i>
        </button>
        <button class="btn btn-sm cancel"
                hx-get="@Url.Action(nameof(WorkerController.GetProjectPartner), new { id = @Model.Id })"
                title="Odustani">
            <i class="fas fa-undo-alt"></i>
        </button>
        <div asp-validation-summary="All"></div>
    </td>
</tr>
