@{
  ViewData["Title"] = "Izvještaji";
}

<h1>Izvještaji</h1>
<p>PDF:</p>
<ul>
  <li>
        <a target="_blank" asp-action="ProjectRequirementsPdf">Project Requirements</a>
  </li>
</ul>
<p>Excel:</p>
<ul>
  <li>
    <a asp-action="RequirementTasksExcel">Requirement Tasks</a>
  </li>
  <li>
        <a asp-action="TaskStatusesExcel">Task Statuses</a>
  </li>
  <li>
        <a asp-action="ProjectRequirementsExcel">Project Requirements</a>
  </li>
</ul>