@model RPPP_WebApp.Model.ProjectRole

@{
    ViewData["Title"] = "Nova uloga";
}

<h2 class="mt-3">Unos nove uloge</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mt-3">
        <label asp-for="Name" class="form-label">Naziv uloge</label>
        <input asp-for="Name" class="form-control" />
        <div class="form-text"><span asp-validation-for="Name" class="text-danger"></span></div>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}