main {
  padding-left: 50px;
  padding-right: 50px;
}

.logo-icon {
  height: 30px;
}

.validation-summary-errors { font-weight: bold; color:#a94442;}
.validation-summary-valid { display: none;}
.input-validation-error{
    border-color:red;
}


.pagerbox {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
}

.pagerbox li {
   margin: 0 3px;
}

.page-link {
   padding: 8px 12px;
   border: 1px solid ;
   color: #333;
}

.page-link:hover {
   background-color: royalblue;
   color: white;
}

.page-link.active {
   background-color: royalblue;
   color: white;
 }
