<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">Projektna evidencija</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ian Balen
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/rppp/01/Projects">Projects (STP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/Clients">Clients (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/Documents">Documents (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/DocumentTypes">Document Types (JTP)</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lovro Dujić
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/rppp/01/ProjectWork">Projektne aktivnosti (STP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/LaborDiary">Evidencija radnog vremena (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/ProjectMD4">Projekti (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/LaborType">Vrsta obavljenog posla (JTP)</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Maksim Madžar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/rppp/01/ProjectRequirements">Zahtjev (STP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/RequirementTasks">Zadatak (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/RequirementPriorities">Prioriteti zahtjeva (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/TaskStatus">Status zadatka (JTP)</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gabriela Oroz
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/rppp/01/Owner">Vlasnici (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/ProjectCard">Projektne kartice (STP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/Transaction">Transakcije (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/TransactionPurpose">Svrhe transakcija (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/TransactionType">Vrste transakcija (JTP)</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Karlo Španović
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/rppp/01/ProjectPartner">Suradnici na projektima (STP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/ProjectRole">Uloge suradnika (JTP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/Worker">Radnici (STP)</a></li>
            <li><a class="dropdown-item" href="/rppp/01/Organization">Organizacija (JTP)</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>