@model RPPP_WebApp.Model.Owner

@{
  ViewData["Title"] = "Novi vlasnik";
}

<h2 class="mt-3">Unos novog vlasnika</h2>

<form asp-action="Create" method="post">
  <div asp-validation-summary="All"></div>
  <div class="mt-3">
    <label asp-for="Oib" class="form-label">OIB</label>
    <input maxlength="11" asp-for="Oib" class="form-control" />
    <div class="form-text"><span asp-validation-for="Oib" class="text-danger"></span></div>
  </div>
  <div class="mt-3">
    <label asp-for="Name" class="form-label">Ime</label>
    <input asp-for="Name" class="form-control" />
    <div class="form-text"><span asp-validation-for="Name" class="text-danger"></span></div>
  </div>
  <div class="mt-3">
    <label asp-for="Surname" class="form-label">Prezime</label>
    <input asp-for="Surname" class="form-control" />
    <div class="form-text"><span asp-validation-for="Surname" class="text-danger"></span></div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-primary" type="submit">Dodaj</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
  </div>
</form>

@section scripts {
  <partial name="IncludeValidation" />
}